Importing libraries

In [70]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import plotly.express as px

# 1. Data Loading and Exploration

In [47]:
data=pd.read_csv('AAPL, 1D 01012007-12072023.csv')

In [56]:
data.head()

,volume,vwap,open,close,high,low,time,transactions,day_difference,year,month,quarter
0,1.245445e+09,3.0302,3.0821,2.9929,3.0921,2.9250,2007-01-03 05:00:00,189737,-0.0892,2007,January,1
1,8.554834e+08,3.0403,3.0018,3.0593,3.0696,2.9936,2007-01-04 05:00:00,136333,0.0575,2007,January,1
2,8.352580e+08,3.0426,3.0632,3.0375,3.0786,3.0143,2007-01-05 05:00:00,141050,-0.0257,2007,January,1
3,7.974138e+08,3.0683,3.0700,3.0525,3.0904,3.0457,2007-01-08 05:00:00,130547,-0.0175,2007,January,1
4,3.352007e+09,3.1946,3.0875,3.3061,3.3207,3.0411,2007-01-09 05:00:00,569578,0.2186,2007,January,1

In [49]:
data.isnull().sum()

volume          0
vwap            0
open            0
close           0
high            0
low             0
time            0
transactions    0
dtype: int64

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4159 entries, 0 to 4158
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   volume        4159 non-null   float64
 1   vwap          4159 non-null   float64
 2   open          4159 non-null   float64
 3   close         4159 non-null   float64
 4   high          4159 non-null   float64
 5   low           4159 non-null   float64
 6   time          4159 non-null   int64
 7   transactions  4159 non-null   int64
dtypes: float64(6), int64(2)
memory usage: 260.1 KB

In [51]:
# we should convert data column for easier exploration
data['time']=pd.to_datetime(data['time'],unit='s')

In [52]:
data.duplicated().sum()
# checking for duplicate rows

0

In [53]:
len(data['volume'].unique())
# checking for unique values in volume column

4159

In [66]:
data = data.rename(columns={'open': 'opening price', 'close': 'closing price', 'high': 'highest price', 'low': 'lowest price'})

# 2. Data Visualization

In [67]:
data['day_difference']=data['closing price']-data['opening price']

In [80]:
data['year'] = data['time'].dt.year
data['month'] = data['time'].dt.month_name()
data['quarter'] = data['time'].dt.quarter
quarters_data = data.groupby(['year', 'quarter'])
month_data = data.groupby(['year', 'month'])
avg_pcrice_differece = month_data['day_difference'].mean()
#grouping our data for better presentation

In [87]:
month_data.head()

,volume,vwap,opening price,closing price,highest price,lowest price,time,transactions,day_difference,year,month,quarter
0,1.245445e+09,3.0302,3.0821,2.9929,3.0921,2.9250,2007-01-03 05:00:00,189737,-0.0892,2007,January,1
1,8.554834e+08,3.0403,3.0018,3.0593,3.0696,2.9936,2007-01-04 05:00:00,136333,0.0575,2007,January,1
2,8.352580e+08,3.0426,3.0632,3.0375,3.0786,3.0143,2007-01-05 05:00:00,141050,-0.0257,2007,January,1
3,7.974138e+08,3.0683,3.0700,3.0525,3.0904,3.0457,2007-01-08 05:00:00,130547,-0.0175,2007,January,1
4,3.352007e+09,3.1946,3.0875,3.3061,3.3207,3.0411,2007-01-09 05:00:00,569578,0.2186,2007,January,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4152,3.145820e+07,192.6624,193.7800,192.4600,193.8800,191.7600,2023-07-03 04:00:00,500175,-1.3200,2023,July,3
4153,2.422234e+07,191.9344,191.5650,190.8900,192.9800,190.6779,2023-07-05 04:00:00,390675,-0.6750,2023,July,3
4154,4.515552e+07,190.8214,189.8400,191.8100,192.0200,189.2000,2023-07-06 04:00:00,562755,1.9700,2023,July,3
4155,4.675750e+07,191.4218,191.4100,190.6800,192.6700,190.2400,2023-07-07 04:00:00,538826,-0.7300,2023,July,3
4156,5.991216e+07,188.3628,189.2600,188.6100,189.9900,187.0350,2023-07-10 04:00:00,736912,-0.6500,2023,July,3

In [107]:
sorted_indices = np.argsort(month_data['time'])
sorted_data = month_data[sorted_indices]
plt.plot(month_data['time'].head(100),month_data['closing price'].head(100))
plt.show()

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 2 dimensions. The detected shape was (199, 2) + inhomogeneous part.